<header class="jumbo">
  {{#link-to 'index'}} <div class='image' ></div>{{/link-to}}
  <nav>
    {{#link-to 'contact' class='link'}} <h4>Keep in Contact</h4>{{/link-to}}
  </nav>
</header>

<main class="container proj-details">
  <div class="row">
    {{outlet}}
  </div>
</main>

<footer class='jumbo'>
  Placeholder teaxt. Maybe put some minor information down here? Or some nice Social Media links. 
</footer>