<header class="jumbo">
  {{#link-to 'index'}} <div class='image' ></div>{{/link-to}}
  <nav>
    {{#link-to 'contact' class='link'}} <h4>Keep in Contact</h4>{{/link-to}}
  </nav>
</header>

<main class='content-wrapper'>
    {{outlet}}
</main>

<footer class='jumbo'>
  <p class='social-media link'>
    <a href="https://twitter.com/L_Brim" target="_blank">Sometime's I Tweet!</a> |
    <a href="https://www.linkedin.com/in/lukebrimeyer" target="_blank">Find me on LinkedIn!</a> |
    <a href="https://github.com/BrimL" target="_blank">This is my GitHub!</a> 
  </p>   
</footer>