<div class="jumbo">
  <h2>Get In Touch. Stay in Touch.</h2>
  <p>Thanks for stopping by and checking out my projects!<br>
  Feel free to swing by on social media and say hi.
  </p>
  <p>
    <a href="https://twitter.com/L_Brim" target="_blank">Sometime's I Tweet!</a><br>
    <a href="https://www.linkedin.com/in/lukebrimeyer" target="_blank">Find me on LinkedIn!</a><br>
    <a href="https://www.urlplaceholder.com" target="_blank">This is my GitHub!</a> 
  </p>
</div>